.blog {
    scroll-behavior: smooth;
    height: 100%;
    margin: auto;
}

/* HEADER  */

.blog-header {
    display:flex;
    flex-direction:row;
    height: 10vh;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 4%;
}

.blog-header__options {
    margin: 5px 12px;
}
.blog-header__options a {
    color: rgb(133, 16, 16);
    font-size: 1.2rem;
    font-weight: 500;
}

.blog-header-options__icon {
    padding-right: .4rem;
}


/* BLOG CONTAINER  */

.blog-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:900px;
    margin: auto;
}
.blog-container a{
    text-decoration: none;
    color:#1d1d1d;
    margin: 0 auto;
}

.spinner{
    margin:auto;
    justify-content:center;
    text-align:center;
}

.blog-card{
    height:auto;
    width:350px;
    padding:20px;
    font-family:segoe ui;
    border:solid 2px #f2f2f2;
    text-align: inherit;
    margin:20px;
    background-color: #ffffff;
    box-shadow:2px 2px 4px #f2f2f2;
    border-radius:8px;
}
.blog-card p{
    color:#333333;
}
.blog-card h2{
    font-weight:600;
    font-size: 1.3rem;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    margin-bottom: .75rem;
}
.blog-card img{   
    width:inherit;
    height:inherit;
    border-radius: 5px;
}



/* MEDIA QUERIES */


@media (min-width: 1025px) and (max-width: 1113px) {
    .blog-header {
        margin: auto;
        align-items: center;
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .blog-header__options a {
        color: rgb(133, 21, 21);
    }
    .blog-header-options a:hover {
        color: blue;
    }

    .blog-header-options__icon {
        padding-right: 0;
        font-size: 2rem;
        margin: auto 1rem;
    }

    .blog-header-options__text {
        display: none;
    }
}



@media only screen and (max-width: 866px) {
    .blog-header {
        margin: auto;
        align-items: center;
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .blog-header__options a {
        color: rgb(133, 21, 21);
    }
    .blog-header-options a:hover {
        color: blue;
    }

    .blog-header-options__icon {
        padding-right: 0;
        font-size: 2rem;
        margin: auto 1rem;
    }

    .blog-header-options__text {
        display: none;
    }
}